:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --third-color: #d69e3d;
    --fourth-color: #966f2c;
    --background-color: #f3f0e9;
}

body {
    font-family: "Lato";
    margin: 0;
}

/* Hero Section Start */
.hero h1 {
    font-weight: 800;
    text-align: center;
}

.hero p {
    text-align: center;
    font-weight: 600;
}

.hero-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.hero a {
    font-weight: 800;
    background-color: white;
    color: #000000;
    text-decoration: none;
}

.hero-child {
    background-color: #00000070;
    padding: 60px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero Section End */


.navbar a {
    font-size: 1rem;
}

body h1{
    font-size: 2.027rem;
}

body h2{
    font-size: 1.802rem;
}

body h3{
    font-size: 1.424rem;
}

body p{
    font-size: 1rem;
    font-family: "Karla";
}

button {
    font-family: "Karla";
}

header {
    background-color: var(--secondary-color);
    font-family: "Lato";
    font-size: 1.15rem;
    font-weight: 800;
    padding: 20px;
    min-height: 10vh;
}

.logotype {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    color: var(--primary-color);
    list-style:none;
    padding: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--primary-color);
    margin: 0 30px 0 30px;
}

.wrapper-width {
    width: 1200px;
}

.banner {
    background-image: url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:50vh;
}


.banner-content {
    color: var(--primary-color);
    font-weight: 2000;
}

.banner-content a {
    border: 0px;
    padding: 20px 30px;
}

.offer {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer p:nth-child(1) {
    color: var(--third-color);
}

.fair, .local, .made {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 275px;
}

.local p{
    text-align: left;
}



/* Feature Section */
.feature-img {
    max-width: 30%;
}